.index__nav-menu{
    width: 100%;
    height: 16.5vh;
    font-family: "Noto Sans", sans-serif;
}

.index__nav-menu-container{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
    align-items: center;
    height: 100%;
    width: 100%;
}

.index__nav-menu-list {
    flex: 1;
    display: flex;
}

.index__nav-menu-elements{
    display: flex;
    gap: 1.9rem;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.index__nav-menu-elements a{
    text-decoration: none;
    color: var(--text-color-dark-accent);
}

.index__nav-menu-elements{
    list-style-type: none;
    font-weight: 503;
    font-size: 0.9rem;
}

.index__nav-menu-list:first-child {
    justify-content: flex-end;
}

.index__nav-menu-list:last-child {
    justify-content: flex-start;
}

.index__nav-menu-img {
    margin: 0 3rem;
    display: flex;
    align-items: center;
    width: 4.3rem;
    flex-shrink: 0;
}

.index__nav-menu-elements a:hover{
    color: var(--text-color-light-accent);
}