<nav class="index__nav-menu">
    <div class="index__nav-menu-container container">

        <div class="index__nav-menu-list">
            <ul class="index__nav-menu-elements">
                <a href=""><li>About App</li></a>
                <a href=""><li>Key Features</li></a>
                <a href=""><li>Screens Preview</li></a>
                <a href=""><li>Our Benefits</li></a>
            </ul>
        </div>

        <div class="index__nav-menu-img">
            <a href="/">
                <img src="/assets/logo.png" alt="Logo" width="100%">
            </a>
        </div>

        <div class="index__nav-menu-list">
            <ul class="index__nav-menu-elements">
                <a href=""><li>Pricing Plans</li></a>
                <a href=""><li>How It Works</li></a>
                <a href=""><li>Testimonials</li></a>
                <a href=""><li>Contacts</li></a>
            </ul>
        </div>
    </div>
</nav>