<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template Explorer</title>
    <link rel="icon" type="" href="assets/logo.png">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <main class="main">


        <section
            class="nav-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.nav.partial.html"
        ></section>

        <section
            class="hero-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.header-hero.partial.html"
        ></section>

        <section
            class="created-for-your-calm-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.created-for-your-calm.partial.html"
        ></section>

        <section
            class="summary-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.summary.partial.html"
        ></section>

        <section
            class="cta1-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.cta.partial.html"
        ></section>

        <section
            class="how-it-works-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.how-it-works.partial.html"
        ></section>

        <section
            class="gallery-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.gallery.partial.html"
        ></section>

        <section
            class="cta2-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.cta2.partial.html"
        ></section>

        <section
            class="summary-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.summary.partial.html"
        ></section>

        <section
            class="daily-health-dashboard-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.daily-health-dashboard.partial.html"
        ></section>

        <section
            class="pricing-plans-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.pricing-plans.partial.html"
        ></section>

        <section
            class="reviews-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.reviews-about-aurem.partial.html"
        ></section>

        <section
            class="cta3-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.cta3.partial.html"
        ></section>

        <section
            class="contacts-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.contacts.partial.html"
        ></section>

        <section
            class="footer-section"
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="partials/index.footer.partial.html"
        ></section>










    </main>

    <script src="scripts.js"></script>

    <!-- BootStrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
